table.tabla-alta {
    border: 1px solid #000000;
border-collapse: collapse;
width: 95%;
margin: 1rem auto;
overflow-x: auto;

    th, td{
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
}