.section-cards {
    background-color: #f1f2f3;
    padding: 1rem;
  }
  
  .cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .section-cards__header p {
    font-family: "Helvetica", sans-serif;
    font-size: 1.2em;
    color: #16a085;
    text-align: center;
    font-weight: 300;
  }
  