/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

.main-header {
    display: flex;
    flex-direction: column-reverse;
  
    @media screen and (min-width: 992px) {
      & {
        flex-direction: column;
      }
    }
  }
  
  #menu {
    display: none;
  
    &:checked + .nav-bar {
      display: block;
    }
    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
      background-color: #7b9e56;
    }
  }
  
  /* nav bar */
  
  .nav-bar {
    background: radial-gradient(circle, #a8d08d, #7b9e56, #4d6d3e);
    transition: background 0.5s ease;
    display: none;
  
    &__nav-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
  
      @media screen and (min-width: 992px) {
        & {
          flex-direction: row;
        }
      }
    }
  
    &__nav-item {
      text-align: center;
    }
  
    &__nav-link {
      display: block;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;
    }
    @media screen and (min-width: 992px) {
      & {
        display: block;
      }
    }
  }
  /* ---------------------------------- */
  /* SEARCH-BAR */
  /* ---------------------------------- */
  
  .search-bar {
    display: flex;
    justify-content: space-around;
  
    &____logo-container {
      width: 18.75rem;
      height: 3.75rem;
    }
  
    &__form-container {
      padding: 1rem;
      background: radial-gradient(circle, #a8d08d, #7b9e56, #4d6d3e);
      display: flex;
      height: 50px;
      flex-basis: 100%;
      justify-content: center;
      transition: background 0.5s ease;
    }
  
    &__form-label {
      display: none;
    }
  
    &__form-search {
      background-color: rgb(253, 253, 253);
      color: rgb(0, 0, 0);
      padding: 12px 20px;
      border: none;
      border-radius: 25px;
      font-size: 1em;
      width: 200px;
      display: inline-block;
      margin-right: 10px;
    }
  
    &__form-submit {
      background-color: rgb(172, 167, 167);
    }
  
    &__carrito-container {
      flex: 0 0 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient(circle, #a8d08d, #7b9e56, #4d6d3e);
    }
  }
  button,
  .button {
    background-color: #27ae60;
    color: white;
    font-size: 80%;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
    &:hover {
      background-color: #2ecc71;
    }
  }
  
  /* -------------------------------- */
  /* MENU TOOGLE                     */
  /* ------------------------------- */
  
  .menu-toogle {
    display: block;
    flex: 0 0 3rem;
    position: relative;
    cursor: pointer;
  
    &__label {
      display: block;
      background-color: #4d6d3e;
      height: 100%;
    }
  
    &__top-bread,
    &__meat,
    &__bottom-bread {
      display: block;
      background-color: #333;
      height: 0.2rem;
      position: absolute;
      left: 0.5rem;
      right: 0.5rem;
    }
  
    &__top-bread {
      top: 0.8rem;
    }
  
    &__meat {
      top: 50%;
      margin-top: -0.1rem;
    }
  
    &__bottom-bread {
      bottom: 0.8rem;
    }
    @media screen and (min-width: 992px) {
      & {
        display: none;
      }
    }
  }
  