/* ---------------------------------- */
/* SEARCH-BAR */
/* ---------------------------------- */

.search-bar {
  display: flex;
  justify-content: space-around;

  &____logo-container {
    width: 18.75rem;
    height: 3.75rem;
  }

  &__form-container {
    padding: 1rem;
    background: radial-gradient(circle, #a8d08d, #7b9e56, #4d6d3e);
    display: flex;
    height: 50px;
    flex-basis: 100%;
    justify-content: center;
    transition: background 0.5s ease;
  }

  &__form-search {
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    width: 200px;
    display: inline-block;
    margin-right: 10px;
  }

  &__form-submit {
    background-color: rgb(172, 167, 167);
  }

  &__carrito-container {
    flex: 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #a8d08d, #7b9e56, #4d6d3e);
  }
}
button,
.button {
  background-color: #27ae60;
  color: white;
  font-size: 80%;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
  &:hover {
    background-color: #2ecc71;
  }
}
.icono-carrito{
  color: #05401e;
}